body{
    text-align: center;
    background-color: rgb(1, 0, 32);
    background-image: url("point.png");
}
.menu{
    margin: 25px 25px;
}
.menu a{
    margin: 15px;
    text-decoration: none;
    color: white;
}
.principal{
    margin: 200px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.principal img{
    width: 320px;
}

/*Texto de introdução*/
.principal .texto{
    width: 400px;
    padding-top: 30px;
    margin-left: 70px;
    font-family: "Dongle", sans-serif;
    position: relative;
    /*Animação*/
}

.principal .text2{
    width: 345px;
    overflow: hidden;
    border-right: .3em solid orange; /* The typwriter cursor */
    animation: 
    typing 1s steps(40,end),
    blink-caret .75s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 56% }
}
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgba(74, 16, 97, 1); }
}
.principal text{
    margin-bottom: 10px;
}

.principal .texto #linhas{
    position: absolute;
    /* top: 95px; */
    z-index: -1;
    width: 160px;
    top: 1px;
    left: 1px;
}
.principal .texto #espaco{
    font-family:monospace;
}
.sbmim{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sobre{
    margin: 200px 0;
    height: 400px;
    font-family:monospace;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 650px) {
    .principal{
        margin: 200px 0;
    }
    .principal img {
        width: 250px;
    }
}